doctype html
html
  head
    title Ninjago
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content